.about{
    padding: 5rem 0;

    &__inner-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 960px;
    }

    &__content{
        flex: 1 1 100%;
        margin-left: 0;
    }

    &__image {
        flex: 1 1 200px;

        img{
            box-shadow: 10px 10px 0 0 $neon-color;
            background-color: rgb(1, 127, 152);
            display: block;
            margin: 0 auto;
            width: clamp(11.25rem, 100%, 21.875rem);// 11.25rem 180px & 21.875rem 350px
        }
    }

    .section-subtitle {
        
        > p:not(:last-child){
            margin: 24px 0;
            color: $white-color;
        }
        q{
            quotes: "“" "”" "‘" "’";
            font-weight: bold;
        }
        q::before {
            content: open-quote;
            color: $shade-500;
            font-size: 1.5rem;
            text-shadow: 1px 1px $neon-color;
        }
        q::after {
            content: close-quote;
            color: $shade-500;
            font-size: 1.5rem;
            text-shadow: 1px 1px $neon-color;
        }
    
    }
}

@mixin about--md {
    .about{

        &__inner-container{
            flex-wrap: no-wrap;
            flex-direction: row-reverse;
            max-width: initial;
        }

        &__content{
            flex-basis: 60%;
            margin-left: 2rem;
        }

        &__image {
            margin: initial;
        }

        .section-subtitle{
            font-size: 1.25rem;
        }
    }
}
